blockquote p {
  font-style: italic;
  font-weight: 700;
}

blockquote .q {
  font-size: 150%;
  margin: 0 5px;
  font-weight: 500;
}

/* Navbar */
.navbar.navbar-dark {
  background-color: #000E67;
  color: #fff;
}

.navbar .navbar-nav {
  margin-left: auto;
}

section {
  background-color: #e1e5ff;
}

section span.high {
  color: #ff8d00;
}

section .section-inner,
section .odd-section-inner,
section .even-section-inner {
  padding: 3% 2.5%;
}

@media screen and (max-width: 550px) {
  section .section-inner,
  section .odd-section-inner,
  section .even-section-inner {
    padding: 0;
  }
}

section .section-inner .container-heading,
section .odd-section-inner .container-heading,
section .even-section-inner .container-heading {
  position: relative;
  margin-bottom: 1em;
}

section .section-inner .container-heading::after,
section .odd-section-inner .container-heading::after,
section .even-section-inner .container-heading::after {
  content: "";
  bottom: -0.5em;
  position: absolute;
  left: 45%;
  width: 10%;
  height: 5px;
  background-color: #ff8d00;
  border: 30px solid #000E67;
  min-width: 85px;
  border-width: 0 30px;
}

section#home-section {
  padding-top: 50px;
}

section#home-section .carousel-inner .carousel-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 650px;
  height: 100%;
}

section#home-section .carsouel-control {
  -webkit-filter: drop-shadow(0 0 2px #333);
          filter: drop-shadow(0 0 2px #333);
}

section#about-section .even-section-inner {
  background-color: #ff8d00;
  color: #fff;
}

section#about-section .logo-container {
  max-width: 250px;
  margin: 0 auto;
}

section#rules-section .tab-inner {
  padding: 1rem;
  max-height: 480px;
  min-height: 480px;
  overflow: auto;
  scrollbar-width: thin;
}

section#rules-section .tab-inner::-webkit-scrollbar {
  width: 5px;
}

section#rules-section .tab-inner::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

section#rules-section .tab-inner::-webkit-scrollbar-thumb {
  background-color: #000E67;
}

section#rules-section ul.nav-tabs {
  background-color: #ff8d00;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#rules-section ul.nav-tabs::-webkit-scrollbar {
  width: 0px;
}

section#rules-section ul.nav-tabs a.nav-link {
  color: #fff;
  border-radius: 0;
}

section#rules-section ul.nav-tabs a.nav-link.active {
  color: #ff8d00;
}

section#committee-section {
  background-image: url(../images/22.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  background-color: #000E67;
}

section#committee-section .section-inner {
  background-color: rgba(0, 0, 0, 0.8);
}

section#committee-section .section-inner .roc-me {
  padding-top: 6rem;
}

section#committee-section .section-inner .person__thumb {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  margin-bottom: calc(80px + 1.5rem);
  padding-bottom: 12px;
}

section#committee-section .section-inner .person__thumb img {
  margin-top: -75px;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 6px solid #ff8d00;
  max-width: 150px;
  -webkit-box-shadow: 0px 0px 0px 6px #000E67, 2px 3px 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 0px 6px #000E67, 2px 3px 10px 10px rgba(0, 0, 0, 0.5);
}

section#committee-section .section-inner .person__thumb .footer .name .designation {
  color: #000E67;
  display: block;
  margin-top: 0.5rem;
}

section#facilities-section {
  background-image: url(../images/15.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  background-color: #000E67;
}

section#facilities-section .service__thumb img {
  max-width: 80px;
  margin-bottom: 20px;
}

section#activity-section {
  background-image: url(../images/bg.png);
  background-attachment: fixed;
  background-size: contain;
  background-repeat: repeat;
  background-position: center center;
  color: #fff;
  background-color: #ff8d00;
}

section#activity-section .gallary-container .item-wrap {
  max-height: 200px;
  overflow: hidden;
  border: 0.25rem solid #fff;
  border-radius: 0.25rem;
}

section#activity-section .gallary-container .item-wrap img {
  -webkit-transition: all 500ms;
  transition: all 500ms;
  border: 0;
  padding: 0;
}

section#activity-section .gallary-container .item-wrap img:hover {
  -webkit-transform: scale(1.5) rotate(10deg);
          transform: scale(1.5) rotate(10deg);
}
/*# sourceMappingURL=app.css.map */